/* 기본 스타일 */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 컨테이너 스타일 */
.container {
    text-align: center;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* 제목 스타일 */
h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* 설명 스타일 */
p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* 검색 상자 스타일 */
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-box input[type="text"] {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 25px 0 0 25px;
    border: none;
    outline: none;
    background-color: #333;
    color: #FFF;
    width: 300px;
}

.search-box button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 0 25px 25px 0;
    border: none;
    outline: none;
    background-color: #6200EE;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-box button:hover {
    background-color: #3700B3;
}

/* 검색 결과 스타일 */
.video-item {
    margin: 10px 0;
}

.video-item a {
    color: #BB86FC;
    text-decoration: none;
    font-size: 1.1rem;
}

.video-item a:hover {
    text-decoration: underline;
}
